{% extends 'base.html' %}
{% block content %}
<form method="post" action="{{ url_for('alterarpecabd') }}" class="form-horizontal">
	<h2>Cadastrar Produto</h2>
	<div class="row">
		<div class="col-md-4">
			<label>Nome do Item</label>
			<input type="text" name="nome" class="form-control">
		</div>
		<div class="col-md-4">
			<label>Preço</label>
			<input type="text" name="preco" class="form-control">
		</div>
	</div>
	<input type="hidden" name="nomei" value="{{ nomei }}">
	<input type="submit" />
</form>
{% endblock %}