{% extends "base.html" %}
{% block content %}

<div class="container text-center">
	<br>
	<div class="text-justify">
		<h2>Estoque</h2>
	</div>
	<div class="row">
		<a href={{ url_for('buscarpeca') }} class="btn btn-primary btn-block" > Buscar Peça</a>
	</div>
	<br>
	<div class="row">
		<a href={{ url_for('cadastrarpeca') }} class="btn btn-primary btn-block" > Cadastrar Peça</a>
	</div>
	<br>
	<div class="row">
		<a href={{ url_for('alterarpeca') }} class="btn btn-primary btn-block" > Atualizar Peça</a>
	</div>
	<br>
	<div class="row">
		<a href={{ url_for('removerpeca') }} class="btn btn-primary btn-block" > Remover Peça</a>
	</div>
</div>

{% endblock %}