{% extends "base.html" %}
{% block content %}
<div class = "text-center">
		<h2><i>Realizar Orçamento</i></h2>
			<form class="form-horizontal">
				<div class="row">
					<div class="col-md-6">
						<label>CPF (Cliente)</label>
						<input type="text" name="in_cpf" class="form-control">
					</div>

					<div class="col-md-6">
						<label>CPF (Funcionario)</label>
						<input type="text" name="in_cpf" class="form-control">
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Placa Do Carro</label>
						<input type="text" name="in_cpf" class="form-control">
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<label>ID das tarefas</label>
						<input type="text" name="in_cpf" class="form-control">
					</div>
					<div class="col-md-6">
						<h3>Lista de Tarefas</h3>
						<p>
						{% for rv in result %}
							{{ rv.0 }} {{ rv.1 }} <br>
						{% endfor %}
						</p>
					</div>
				</div>
			</form>
			<br>


			<button class="btn btn-primary">Pronto</button>
{% endblock %}