{% extends "base.html" %}
{% block content %}
<h2 class = "text-center"><i>Serviços</i></h2>
			<form class="form-horizontal">
				<h2>Cadastrar Serviços</h2>
				<div class="row">
					<div class="col-md-6">
						<label>Nome da Tarefa</label>
						<input type="text" name="in_tarefa" class="form-control">
					</div>

					<div class="col-md-6">
						<label>Preço</label>
						<input type="text" name="in_preco" class="form-control">
					</div>
				</div>
			</form>
			<br>
			<button class="btn btn-primary">Pronto</button>
		</div>

		<div class="container-fluid">
			<form class="form-horizontal">
				<h2>Buscar Serviços</h2>
				<div class="row">
					<div class="col-md-12">
						<label>Nome da Tarefa</label>
						<input type="text" name="in_cpf" class="form-control">
					</div>
				</div>
			</form>
			<br>
			<button class="btn btn-primary">Buscar</button>
{% endblock %}